body {
  padding: 5px;
}

// div {
//   padding: 20px;
// }

select {
  margin: 10px 0;
  padding: 5px 10px;
  background-color: #007acc;
  color: white;
  outline: none;
  border: none;
  cursor: pointer;

  option {
    background-color: #ccc;
  }
}

button {
  margin: 10px 0;
  padding: 10px 20px;
  background-color: #007acc;
  color: white;
  border: none;
  cursor: pointer;
}
